---
import PageLayout from "layouts/PageLayout";
import AppStyle from "components/AppStyle";
import Meta from "components/Meta";

export interface Props {
  title?: string;
  description?: string;
}

const pageUrl = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta {...Astro.props} pageUrl={pageUrl} />
    <AppStyle />
  </head>
  <body>
    <PageLayout><slot /></PageLayout>
  </body>
</html>
