---
import Meta from "components/Meta";
import PageLayout from "layouts/PageLayout";

export interface Props {
  title?: string;
  pageUrl: string;
  description?: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <Meta {...Astro.props} />
  <body>
    <PageLayout><slot /></PageLayout>
  </body>
</html>
